*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --textcolor:#fff;
}


body{
    font-family: 'Sora', sans-serif;
    background: rgb(47,24,77);
    background: linear-gradient(140deg, rgba(47,24,77,1) 0%, rgba(173,0,255,1) 100%);
    background-position: center;
    font-size: 62.5%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 15%;
}

.glass{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.weather{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    max-width: 100%;
}

.graus{
    display: flex;
    align-items: center;
    max-width: 70%;
    justify-content: space-between;
    margin-left: 2rem;
}

.infos{
    color: var(--textcolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
}

.infos h1{
    font-size: 6rem;
}

.infos p{
    font-size: 1rem;
}

.max-min{
    color: var(--textcolor);
    max-width: 30%;
    margin-left: 1rem;
}

.min p{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
}
.max p{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
}

.red{
    color: red;
    }

.green{
    color: #28D10C;
}


.img-weather img{
    width: 100%;
    transition: .5s;
}

.img-weather img:hover{
    transform: rotate(4deg);
}

.img-weather:hover{
    transform: scale(1.1);
}


.img-weather{
    width: 30%;
    transition: .5s;
}





