* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --textcolor: #fff;
}


body {
    font-family: 'Sora', sans-serif;
    background: rgb(47, 24, 77);
    background: linear-gradient(140deg, rgba(47, 24, 77, 1) 0%, rgba(173, 0, 255, 1) 100%);
    background-position: center;
    font-size: 62.5%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.glass {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.weather {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    max-width: 100%;
    margin-bottom: 3rem;
}

.graus {
    display: flex;
    align-items: center;
    max-width: 70%;
    justify-content: space-between;
    margin-left: 2rem;
}

.infos {
    color: var(--textcolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
}

.infos h1 {
    font-size: 6rem;
    font-weight: bold;
}

.infos p {
    font-size: 1rem;
    font-weight: 300;
}

.max-min {
    color: var(--textcolor);
    max-width: 30%;
    margin-left: 1rem;
}

.min p {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
}

.max p {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
}

.red {
    color: red;
}

.green {
    color: #28D10C;
}


.img-weather img {
    width: 100%;
    transition: .5s;
}

.img-weather img:hover {
    transform: rotate(4deg);
}

.img-weather:hover {
    transform: scale(1.1);
}


.img-weather {
    width: 30%;
    transition: .5s;
}

.days {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem 2rem 2rem;
}

.day {
    background: transparent;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    border-radius: 2rem;
    width: 10%;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 7rem;
    color: var(--textcolor);
    font-size: 1rem;
    font-weight: lighter;
}

.day:hover {
    transform: scale(1.1);
}

.day img {
    width: 50%;
}

.border {
    border: 1px solid var(--textcolor);
    border-radius: 1rem;
    width: 60%;
    margin: .5rem 0 .5rem 0;
}

@media only screen and (max-width: 500px) {
    .days {
        display: none !important;
    }
}

@media only screen and (min-width: 500px) {
    .days-mobile {
        display: none !important;
    }
}

@media only screen and (max-width: 500px) {
    .days-mobile {
        display: flex !important;
    }
}


@media(max-width: 500px) {
    body {
        font-family: 'Sora', sans-serif;
        background: linear-gradient(140deg, #2B9CDB 0%, #00FF6A 70%);
        background-position: center;
        font-size: 62.5%;
    }

    section{
        display: flex;
        justify-content: center;
      
    }

    main{
        margin-bottom: 2rem;
    }

    .days-mobile {
        width: 60%;
        transition: .5s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--textcolor);
        font-size: 1rem;
        font-weight: lighter;
        margin-bottom: 9.8rem;
    }

    .day-mobile{
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 4.3rem;
        min-width: 2rem;
        transition: .5s;
    }

    .day-mobile:hover{
        transform: scale(1.1);
    }

    .day-mobile p{
        font-size: .7rem;
    }

    .day-mobile img{
        width: 1.6rem;
    }

    .infos{
        z-index: -2;
        display: flex;
        flex-direction: column-reverse;
        min-width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 90%;
    }

    .weather{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        margin-bottom: 0;
    }

    .img-weather{
        width: 85%;
        position: absolute;
        margin-top: 25%;
    }

    .img-weather img {
        width: 100%;
        margin-bottom: 0px;
    }

    .infos h1{
        font-size: 5rem;
    }

    .infos p{
        font-size: 1rem;
    }

    .max p{
        font-size: .8rem;
    }

    .min p{
        font-size: .8rem;
    }

    .max-min{
        margin-bottom: 80%;
    }

    .remove{
        font-size: 0;
    }
    

}